# Dependências
node_modules/

# Variáveis de ambiente locais
.env
.env.local

# Build do frontend
client/dist/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?